<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        {{ walls.header.title }}
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content #content>
    <ion-list>
       <ion-item *ngFor="let item of items">
         <ion-grid>
           <ion-row>
             <ion-col col-1>
         <span class='myicon-The-Wall'></span>
             </ion-col>
             <ion-col (click)="showMe(item)" col-11>
              <span *ngIf="item.designCue != 'notice'" class="dashboardlist" color="primary">{{ item.header.title }}</span>
              <span *ngIf="item.designCue == 'notice'" class="dashboardlist">{{ item.header.subtitle }}</span>
             </ion-col>
           </ion-row>
         </ion-grid>
       </ion-item>
    </ion-list>
  </ion-content>
