page-dashboard {
    ion-item : {
        font-family : "Nunito";
         color : #008da8};
         opacity : 0.7;
         background : inherit !important;
    }
    span.dashboardlist  {font-size: 16px;
    }