<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>
        the Wall
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content #content>
    <ion-list>
       <ion-card *ngFor="let item of items">
         <ion-grid>
           <ion-row>
             <ion-col size="2">
         <span class='myicon-The-Wall'></span>
             </ion-col>
             <ion-col routerLink="{{item.links.self.href}}" size="10">
              <span *ngIf="item.designCue != 'notice'" class="dashboardlist" color="primary">{{ item.header.title }}</span>
              <span *ngIf="item.designCue == 'notice'" class="dashboardlist">{{ item.header.subtitle }}</span>
             </ion-col>
           </ion-row>
         </ion-grid>
       </ion-card>
    </ion-list>
  </ion-content>
