<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <img src="assets/img/logo2.png"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
          <ion-avatar slot="start" style="height: 100%;">
              <span class="{{ getIcon( item.designCue) }}"></span>
          </ion-avatar>
              <ion-label color="primary">{{ item.header.title }}</ion-label>
              <ion-badge slot="end" *ngIf="item.cardinality !=null">{{ getAlarmAmount() }}</ion-badge>
     </ion-item>
  </ion-list>
</ion-content>
