<ion-header>
    <ion-toolbar color = "primary">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>{{t.translate('settings','title')}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <form (ngSubmit)="onSubmit()">
    <ion-grid>
          <ion-list>
        <ion-row>
        </ion-row>
    <ion-row>
        <ion-label>{{t.translate('settings','language')}}</ion-label>
        <ion-select class="form-control" name="language" [(ngModel)]="settings.language">
          <ion-select-option value="en_US">English</ion-select-option>
          <ion-select-option value="de_DE">Deutsch</ion-select-option>
          <ion-select-option value="nb_NO">Norsk bokmål</ion-select-option>
          <ion-select-option value="se_SE">Svensk</ion-select-option>
          <ion-select-option value="dk_DK">Dansk</ion-select-option>
        </ion-select>
    </ion-row>
  </ion-list>
    <ion-row *ngIf="!isIos">
      <ion-col>
          <ion-label>{{t.translate('settings','torch')}}</ion-label>
          <ion-toggle class="form-control" name="torch" [(ngModel)]='settings.torch'></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-button type="submit" class="form-control" ion-button block color="primary">{{t.translate('settings','save')}}</ion-button>
    </ion-row>
  </ion-grid>
  </form>
  </ion-content>
